 <h1>User Profile Page </h1>
 <div>
    
    <%= title %>

   <h2>Details of Login User</h2>

    <h4><%=userId.id %> </h4>
    <h4><%=userId.name %></h4>
    <h4><%=userId.email %></h4>
    <h4><%=userId.password %></h4> <%=userId.name %>

   <a href="/userLogout"><button type="submit"> Logout </button> </a>
   
   

    
 </div>

 
    